@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --clr-Very-dark-blue: 	#090b1a;
    --clr-Dark-desaturated-blue: 	#1b1938;
    --clr-Soft-violet: #aa5cdb;
    --clr-White: 	#ffffff;
    --clr-slightly-transparent-white_1: #ffffff;
    --clr-Slightly-transparent-white_2: #f2f2f2;
}

html{
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--clr-Very-dark-blue);
    color: var(--clr-White);
}

p{
    padding:  2rem 0;
    color: hsla(0, 0%, 100%, 0.6);
}

.container{
    min-height: 100vh;
}
.card{
    max-width: 1000px;
    margin:  auto;
    padding-top:15rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    background-color: var(--clr-Dark-desaturated-blue);
    width: 50%;
    padding: 3rem 6rem 3rem 3rem ;
    height: 25rem;
    border-radius: 10px 0px 0px 10px;
}
img{
    z-index: -1;
    background-color: var(--clr-Dark-desaturated-blue);
    width: 50%;
    height: 25rem;
    border-radius: 0px 10px 10px 0px;
}

.status{
    font-family: 'Inter', sans-serif;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.status span{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8rem;
    color: hsla(0, 0%, 100%, 0.6);
}
@media only screen and (max-width: 992px) {
    .card{
       flex-direction: column-reverse;
       margin: 2rem;
       padding: 0;
    }
    img{
        width: 20rem;
        height: auto;
        border-radius:10px 10px 0px 0px;
    }
    .content{
        width: 20rem;
        height: auto;
        padding: 2rem ;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
    }
    .status{
        flex-direction: column;
    }
    .status .s1,.s2,.s3{
        padding: 1rem 0;
    }
  }

  .attribution {
    font-size: 1rem;
    text-align: center;
    margin-top: -5rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }